---
---

@import "{{ site.theme }}";

header {
  display: none;
}
body {
  text-align: justify;
  text-align-last: left;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
  color: black;
}

ul {
  margin-bottom: 0px;
}