---
---

@import "{{ site.theme }}";

header {
  display: none;
}
div {
  text-align: justify;
  text-align-last: justify;
}

td {
  vertical-align: middle;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
  text-decoration: underline;
}

ul {
  margin-bottom: 0px;
}